body {
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 400;
}

.converter-container {
  width: auto;
  margin: 0 auto;
}

input {
  margin-right: 10px;
  padding: 10px;
  border: 2px solid #eee;
  border-radius: 2px;
}

input:focus {
  border-color: #e1e1e1;
  outline: none;
}

button {
  font-size: 14px;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 2px;
  outline: none;
  background: #F03D3C;
  cursor: pointer;
}

button:hover {
  background: #d43332;
}

button.button-alternate {
  color: #F03D3C;
  background: #fff;
  border: 1px solid #F03D3C;
}

button.button-alternate:hover {
  color: #d43332;
  border: 1px solid #d43332;
}

h2 {
  color: #7d7d7d;
}

#result {
  color: #F03D3C;
  font-style: italic;
  margin-top: 40px;
  padding-bottom: 10px;
}

/* Error styles
   ================================================================ */

/* This class shoud be added to the input if the user has not entered a value */
.error {
  border-color: red;
}

/* This error message should fade in if the user has not entered a value */
.error-message {
  color: white;
  border: 3px solid red;
  border-radius: 2px;
  display: none; /*Hidden by default*/
  background-color: rgba(255, 0, 0, .6);
  padding: 10px;
}
